.inputContainer {
  display: flex;
  flex-direction: column;
}

.submitButton {
  padding: 5px;
  width: 80px;
  height: 38px;
  background-color: green;
  color: white;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.submitButton:hover {
  cursor: pointer;
}

.inputContainer textarea {
    width: 50vw;
}

.submitButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: lightgrey;
}

.submitButton:disabled:hover {
    font-size: 14px;
}
@media screen and (max-width: 500px) {
    .inputContainer textarea {
        width: 90vw;
    }
}
