* {
  margin: 0;
  padding: 0;
}

.chatbox-container {
  border: solid 1px black;
  margin: 10px;
  padding: 20px;
}

.message {
  overflow-wrap: break-word;
}

.input-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.submit-button {
  margin: 0 10px;
  padding: 5px;
  width: 80px;
  height: 38px;
  background-color: green;
  color: white;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

textarea {
  padding: 10px;
  border-radius: 100px;
  resize: none;
}

ul {
  list-style-position: inside;
}

button:hover {
  cursor: pointer;
  font-size: 18px;
}

.users-container {
  margin: 10px;
}